:root {
    --palette-black: #030612;
    --palette-white: #ffffff;
    --palette-primary-darker: #1022A0;
    --palette-primary-dark: #1027EA;
    --palette-primary-base: #1F4AFB;
    --palette-primary-mid: #8FA4FD;
    --palette-primary-light: #C7D2FE;
    --palette-primary-lighter: #E8ECFE;
    --palette-primary-lightest: #F4F6FF;
    --palette-neutral-darker: #2A2D3C;
    --palette-neutral-dark: #3F424A;
    --palette-neutral-base: #7C7C83;
    --palette-neutral-mid: #CDCDD0;
    --palette-neutral-light: #E6E6E9;
    --palette-neutral-lighter: #EDEDEE;
    --palette-neutral-lightest: #F5F5F6;
    --palette-negative-darker: #A30109;
    --palette-negative-dark: #E6000A;
    --palette-negative-base: #FF424D;
    --palette-negative-mid: #FFA0A6;
    --palette-negative-light: #FFC6C9;
    --palette-negative-lighter: #FFECED;
    --palette-negative-lightest: #FFF5F6;
    --palette-positive-darker: #106939;
    --palette-positive-dark: #1B9D56;
    --palette-positive-base: #1FC267;
    --palette-positive-mid: #84DEAC;
    --palette-positive-light: #B1EACA;
    --palette-positive-lighter: #E8F8EF;
    --palette-positive-lightest: #F4FCF7;
    --palette-active-darker: #1022A0;
    --palette-active-dark: #1027EA;
    --palette-active-base: #1F4AFB;
    --palette-active-mid: #8FA4FD;
    --palette-active-light: #C7D2FE;
    --palette-active-lighter: #E8ECFE;
    --palette-active-lightest: #F4F6FF;
    --palette-red-darker: #A30109;
    --palette-red-dark: #E6000A;
    --palette-red-base: #FF424D;
    --palette-red-mid: #FFA0A6;
    --palette-red-light: #FFC6C9;
    --palette-red-lighter: #FFECED;
    --palette-red-lightest: #FFF5F6;
    --palette-orange-darker: #B84300;
    --palette-orange-dark: #FF6105;
    --palette-orange-base: #FF8943;
    --palette-orange-mid: #FFBE98;
    --palette-orange-light: #FFD6BD;
    --palette-orange-lighter: #FFF3EC;
    --palette-orange-lightest: #FFF9F5;
    --palette-yellow-darker: #9F7E04;
    --palette-yellow-dark: #ECC01E;
    --palette-yellow-base: #F9C918;
    --palette-yellow-mid: #FBDF74;
    --palette-yellow-light: #FDE9A3;
    --palette-yellow-lighter: #FEF7DD;
    --palette-yellow-lightest: #FEFCF3;
    --palette-green-darker: #106939;
    --palette-green-dark: #1B9D56;
    --palette-green-base: #1FC267;
    --palette-green-mid: #84DEAC;
    --palette-green-light: #B1EACA;
    --palette-green-lighter: #E8F8EF;
    --palette-green-lightest: #F4FCF7;
    --palette-blue-darker: #1022A0;
    --palette-blue-dark: #1027EA;
    --palette-blue-base: #1F4AFB;
    --palette-blue-mid: #8FA4FD;
    --palette-blue-light: #C7D2FE;
    --palette-blue-lighter: #E8ECFE;
    --palette-blue-lightest: #F4F6FF;
    --palette-purple-darker: #5622A5;
    --palette-purple-dark: #6E25D5;
    --palette-purple-base: #8C38FF;
    --palette-purple-mid: #C59BFF;
    --palette-purple-light: #E2CDFF;
    --palette-purple-lighter: #F6EFFF;
    --palette-purple-lightest: #F9F5FF;
    --palette-white-5: rgba(255, 255, 255, 0.05);
    --palette-white-7: rgba(255, 255, 255, 0.07);
    --palette-white-10: rgba(255, 255, 255, 0.1);
    --palette-white-15: rgba(255, 255, 255, 0.15);
    --palette-white-20: rgba(255, 255, 255, 0.2);
    --palette-white-25: rgba(255, 255, 255, 0.25);
    --palette-white-30: rgba(255, 255, 255, 0.3);
    --palette-white-40: rgba(255, 255, 255, 0.4);
    --palette-white-50: rgba(255, 255, 255, 0.5);
    --palette-white-60: rgba(255, 255, 255, 0.6);
    --palette-white-70: rgba(255, 255, 255, 0.7);
    --palette-white-80: rgba(255, 255, 255, 0.8);
    --palette-white-90: rgba(255, 255, 255, 0.9);
    --palette-white-95: rgba(255, 255, 255, 0.95);
    --palette-black-5: rgba(3, 6, 18, 0.05);
    --palette-black-7: rgba(3, 6, 18, 0.07);
    --palette-black-10: rgba(3, 6, 18, 0.1);
    --palette-black-15: rgba(3, 6, 18, 0.15);
    --palette-black-20: rgba(3, 6, 18, 0.2);
    --palette-black-25: rgba(3, 6, 18, 0.25);
    --palette-black-30: rgba(3, 6, 18, 0.3);
    --palette-black-40: rgba(3, 6, 18, 0.4);
    --palette-black-50: rgba(3, 6, 18, 0.5);
    --palette-black-60: rgba(3, 6, 18, 0.6);
    --palette-black-70: rgba(3, 6, 18, 0.7);
    --palette-black-80: rgba(3, 6, 18, 0.8);
    --palette-black-90: rgba(3, 6, 18, 0.9);
    --palette-black-95: rgba(3, 6, 18, 0.95);
}

@media (prefers-color-scheme: dark) {
    :root {
      --palette-surface-base: #202124;
      --palette-surface-100: #3F4345;
      --palette-surface-200: #383B3D;
      --palette-surface-300: #303236;
      --palette-surface-400: #2A2B2E;
      --palette-black: #171718;
      --palette-neutral-darker: #2D2D30;
      --palette-neutral-dark: #434348;
      --palette-neutral-base: #85858A;
      --palette-neutral-mid: #D1D1D1;
      --palette-neutral-light: #E8E8E8;
      --palette-neutral-lighter: #ECECEC;
      --palette-neutral-lightest: #F3F3F4;
      --palette-primary-mid: #6580F1;
      --palette-primary-base: #4E6DEF;
      --palette-negative-mid: #F58086;
      --palette-negative-base: #F36870;
      --palette-positive-mid: #5AD38F;
      --palette-positive-base: #3ACB7A;
      --palette-active-mid: #6580F1;
      --palette-active-base: #4E6DEF;
      --palette-red-mid: #F58086;
      --palette-red-base: #F36870;
      --palette-orange-mid: #F4AF85;
      --palette-orange-base: #F29F6E;
      --palette-yellow-mid: #E8CF73;
      --palette-yellow-base: #E3C554;
      --palette-green-mid: #5AD38F;
      --palette-green-base: #3ACB7A;
      --palette-blue-mid: #6580F1;
      --palette-blue-base: #4E6DEF;
      --palette-purple-mid: #AD74FB;
      --palette-purple-base: #A160FB;
      --palette-black-5: rgba(23, 23, 24, 0.05);
      --palette-black-7: rgba(23, 23, 24, 0.07);
      --palette-black-10: rgba(23, 23, 24, 0.1);
      --palette-black-15: rgba(23, 23, 24, 0.15);
      --palette-black-20: rgba(23, 23, 24, 0.2);
      --palette-black-25: rgba(23, 23, 24, 0.25);
      --palette-black-30: rgba(23, 23, 24, 0.3);
      --palette-black-40: rgba(23, 23, 24, 0.4);
      --palette-black-50: rgba(23, 23, 24, 0.5);
      --palette-black-60: rgba(23, 23, 24, 0.6);
      --palette-black-70: rgba(23, 23, 24, 0.7);
      --palette-black-80: rgba(23, 23, 24, 0.8);
      --palette-black-90: rgba(23, 23, 24, 0.9);
      --palette-black-95: rgba(23, 23, 24, 0.95);
    }
}


/** Variables */
:root {
    --font-text:  'Silka',-apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen','Ubuntu','Helvetica Neue',Arial,sans-serif;
    --font-heading: inherit;
    --font-mono: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
    --unit: 4px;
    --body-text-size: 16px;
    --body-text-line: 1.5;
    --font-weight-semibold: 500;
    --font-weight-heavy: 900;  
}
:root {
    --radius-small: 2px;
    --radius-medium: 4px;
    --radius-base: 6px;
    --radius-large: 8px;
    --radius-huge: 12px;
    --level-over-page: 100;
    --level-over-content: 200;
    --level-over-all: 300;
    --type-scale-80: 80px;
    --type-scale-64: 64px;
    --type-scale-52: 52px;
    --type-scale-48: 48px;
    --type-scale-40: 40px;
    --type-scale-32: 32px;
    --type-scale-24: 24px;
    --type-scale-20: 20px;
    --type-scale-18: 18px;
    --type-scale-16: 16px;
    --type-scale-15: 15px;
    --type-scale-14: 14px;
    --type-scale-13: 13px;
    --type-scale-12: 12px;
    --type-scale-11: 11px;
    --type-scale-10: 10px;
  
    --background-light: var(--palette-white);
    --background-dark: var(--palette-black);
    --background-primary: var(--palette-primary-base);
    --background-aluminum: var(--palette-neutral-lightest);
    --background-silver: var(--palette-neutral-lighter);
    --background-platinum: var(--palette-neutral-light);
    --body-default: var(--palette-white);
    --border-dark: var(--palette-black);
    --border-dark-low: var(--palette-black-7);
    --border-dark-mid: var(--palette-black-10);
    --border-light: var(--palette-white);
    --border-light-low: var(--palette-white-20);
    --border-light-mid: var(--palette-white-50);
    --border-primary: var(--palette-primary-base);
    --divider-default: var(--palette-black-10);
    --divider-dark-mid: var(--palette-black-25);
    --divider-dark: var(--palette-black);
    --divider-primary: var(--palette-primary-base);
    --divider-light: var(--palette-white);
    --divider-light-muted: var(--palette-white-30);
    --heading-default: var(--palette-black);
    --heading-dark-mid: var(--palette-black-70);
    --heading-muted: var(--palette-black-50);
    --heading-light: var(--palette-white-95);
    --heading-light-mid: var(--palette-white-70);
    --heading-primary: var(--palette-primary-base);
    --icon-dark: var(--palette-black);
    --icon-light: var(--palette-white);
    --icon-primary: var(--palette-primary-base);
    --inline-var-color: var(--palette-black-80);
    --inline-var-border-color: transparent;
    --inline-var-background-color: transparent;
    --inline-kbd-color: var(--palette-black-80);
    --inline-kbd-border-color: var(--palette-black-15);
    --inline-kbd-background-color: transparent;
    --inline-code-color: var(--palette-black-80);
    --inline-code-border-color: transparent;
    --inline-code-background-color: var(--palette-neutral-lightest);
    --inline-cite-color: var(--palette-black-70);
    --link-default-color: var(--palette-active-dark);
    --link-default-hover-color: var(--palette-negative-dark);
    --link-dark-color: var(--palette-black);
    --link-dark-hover-color: var(--palette-black-60);
    --link-dark-mid-color: var(--palette-black-70);
    --link-dark-mid-hover-color: var(--palette-black);
    --link-muted-color: var(--palette-black-50);
    --link-muted-hover-color: var(--palette-black);
    --link-light-color: var(--palette-white-95);
    --link-light-hover-color: var(--palette-white-60);
    --link-light-mid-color: var(--palette-white-70);
    --link-light-mid-hover-color: var(--palette-white);
    --link-primary-color: var(--palette-primary-base);
    --link-primary-hover-color: var(--palette-black);
    --overlay-light: var(--palette-white-50);
    --overlay-dark: var(--palette-black-50);
    --placeholder-default: var(--palette-black-30);
    --placeholder-light: var(--palette-white-40);
    --text-dark: var(--palette-black);
    --text-default: var(--palette-neutral-darker);
    --text-dark-mid: var(--palette-black-70);
    --text-muted: var(--palette-black-50);
    --text-success: var(--palette-positive-dark);
    --text-error: var(--palette-negative-dark);
    --text-light: var(--palette-white-90);
    --text-light-mid: var(--palette-white-70);
    --text-light-muted: var(--palette-white-50);
    --text-primary: var(--palette-primary-base);
    --shadow-100: 0 1px 3px -1px var(--palette-black-10), 0 1px 2px -1px var(--palette-black-20);
    --shadow-150: 0 3px 5px -1px var(--palette-black-10), 0 1px 3px -1px var(--palette-black-20);
    --shadow-200: 0 6px 12px -2px var(--palette-black-10), 0 3px 7px -3px var(--palette-black-20);
    --shadow-250: 0 10px 25px -5px var(--palette-black-10), 0 8px 16px -8px var(--palette-black-20);
    --shadow-300: 0 30px 60px -12px var(--palette-black-10), 0 18px 36px -18px var(--palette-black-20);
    --shadow-350: 0 50px 100px -10px var(--palette-black-20), 0 30px 60px -30px var(--palette-black-30);
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --background-light: var(--palette-white-7);
      --background-dark: var(--palette-black);
      --background-primary: var(--palette-primary-mid);
      --background-aluminum: var(--palette-surface-200);
      --background-silver: var(--palette-surface-300);
      --background-platinum: var(--palette-surface-400);
      --body-default: var(--palette-surface-base);
      --border-dark: var(--palette-white-50);
      --border-dark-low: var(--palette-white-20);
      --border-dark-mid: var(--palette-white-40);
      --border-light: var(--palette-white-50);
      --border-light-low: var(--palette-white-20);
      --border-light-mid: var(--palette-white-40);
      --border-primary: var(--palette-primary-mid);
      --divider-default: var(--palette-white-20);
      --divider-dark-mid: var(--palette-white-40);
      --divider-dark: var(--palette-white-50);
      --divider-primary: var(--palette-primary-mid);
      --divider-light: var(--palette-white-50);
      --divider-light-muted: var(--palette-white-20);
      --heading-default: var(--palette-white-90);
      --heading-dark-mid: var(--palette-white-70);
      --heading-muted: var(--palette-white-50);
      --heading-light: var(--palette-white-95);
      --heading-light-mid: var(--palette-white-70);
      --heading-primary: var(--palette-primary-light);
      --icon-dark: var(--palette-white-90);
      --icon-light: var(--palette-white-90);
      --icon-primary: var(--palette-primary-light);
      --inline-var-color: var(--palette-white-80);
      --inline-var-border-color: transparent;
      --inline-var-background-color: transparent;
      --inline-kbd-color: var(--palette-white-80);
      --inline-kbd-border-color: var(--palette-white-25);
      --inline-kbd-background-color: transparent;
      --inline-code-color: var(--palette-white-80);
      --inline-code-border-color: transparent;
      --inline-code-background-color: var(--palette-white-5);
      --inline-cite-color: var(--palette-white-80);
      --link-default-color: var(--palette-active-light);
      --link-default-hover-color: var(--palette-white-90);
      --link-dark-color: var(--palette-white-90);
      --link-dark-hover-color: var(--palette-white);
      --link-muted-color: var(--palette-white-50);
      --link-muted-hover-color: var(--palette-white);
      --link-dark-mid-color: var(--palette-white-80);
      --link-dark-mid-hover-color: var(--palette-white);
      --link-light-color: var(--palette-white-95);
      --link-light-hover-color: var(--palette-white-60);
      --link-light-mid-color: var(--palette-white-70);
      --link-light-mid-hover-color: var(--palette-white);
      --link-primary-color: var(--palette-primary-light);
      --link-primary-hover-color: var(--palette-white-90);
      --overlay-light: var(--palette-black-50);
      --overlay-dark: var(--palette-black-50);
      --placeholder-default: var(--palette-white-40);
      --placeholder-light: var(--palette-white-40);
      --text-dark: var(--palette-white-95);
      --text-default: var(--palette-white-90);
      --text-dark-mid: var(--palette-white-80);
      --text-muted: var(--palette-white-50);
      --text-success: var(--palette-positive-light);
      --text-error: var(--palette-negative-light);
      --text-light: var(--palette-white-90);
      --text-light-mid: var(--palette-white-80);
      --text-light-muted: var(--palette-white-50);
      --text-primary: var(--palette-primary-light);
      --shadow-100: none;
      --shadow-150: none;
      --shadow-200: none;
      --shadow-250: none;
      --shadow-300: none;
      --shadow-350: none;
    }
  }

  html {
    box-sizing: border-box;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  input, textarea, select {
    outline: none;
  }
  
  audio, canvas, video, progress, iframe {
    display: block;
    vertical-align: baseline;
  }
  
  fieldset, iframe, img {
    border: 0;
  }
  
  embed, object, img, video {
    max-width: 100%;
    height: auto;
  }
  
  button,
  [type=submit] {
    -webkit-appearance: button;
  }
  
  [type=radio],
  [type=checkbox] {
    vertical-align: middle;
    position: relative;
    bottom: 0.1em;
    margin-right: 2px;
  }
  
  input[type=search],
  input[type=search]::-webkit-search-decoration,
  input[type=search]::-webkit-search-cancel-button,
  input[type=search]::-webkit-search-results-button,
  input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
  
  ::-moz-focus-inner {
    border: none;
    padding: 0;
  }

  /* Elements */
  body {
    --body-color: var(--text-default);
    --body-background-color: var(--body-default);
    font-family: var(--font-text);
    font-size: var(--body-text-size);
    line-height: var(--body-text-line);
    color: var(--body-color);
    background-color: var(--body-background-color);
  }
  
  *::-webkit-input-placeholder {
    color: var(--placeholder-default);
  }
  
  *::-moz-placeholder {
    color: var(--placeholder-default);
  }
  
  *::-ms-input-placeholder {
    color: var(--placeholder-default);
  }
  
  *::placeholder {
    color: var(--placeholder-default);
  }
  
  a {
    color: var(--link-default-color);
  }
  
  a:hover {
    transition: all 0.1s linear;
    color: var(--link-default-hover-color);
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    --heading-font-size: inherit;
    --heading-line-height: inherit;
    font-family: var(--font-heading);
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.01em;
    font-size: var(--heading-font-size);
    line-height: var(--heading-line-height);
    color: var(--heading-default);
    text-rendering: optimizeLegibility;
  }
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    color: inherit !important;
    display: block;
    text-decoration: none;
  }
  h1 a:hover,
  h2 a:hover,
  h3 a:hover,
  h4 a:hover,
  h5 a:hover,
  h6 a:hover {
    color: inherit !important;
    opacity: 0.75;
    text-decoration: underline;
  }
  
  ul,
  ol {
    margin-left: 20px;
  }
  
  li li {
    font-size: 1em;
  }
  
  nav ul,
  nav ol {
    margin-left: 0;
    list-style: none;
  }
  
  dt {
    font-weight: bold;
  }
  
  dd + dt {
    margin-top: 0.25em;
  }
  
  address {
    font-style: normal;
  }
  
  figure > img, figure > iframe, figure > pre, figure > div {
    vertical-align: middle;
  }
  

